@font-face {
  font-family: 'causten';
  src: url('/font/Causten\ Medium.ttf') format(trueType);
}

@font-face {
  font-family: 'sansc';
  src: url(/font/Fontspring-DEMO-coresansc35.otf);
}

* {
  border: none;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.mainPic {
  width: 100%;
  object-fit: fill;
  opacity: 20%;
  height: 250px;
}

.error-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: 'sansc';
}
.footer {
  display: flex;
  height: auto;
  max-width: 1280px;
  background-color: #3c4242;
  color: 'white';
  font-family: causten;
  font-size: 10px;
}
.open {
  margin-left: 310px;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 14px;
  }
  .open {
    margin-left: 10px;
  }
}

.flexCol {
  display: flex;
  flex-direction: column;
}
/* index.css */
/* html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
} */

/* override خاص برای MUI Menu */
/* .MuiPopover-root {
  overflow: visible !important; 
}

.MuiMenu-paper {
  max-width: 1280px !important; 
} */
